/* -------------------------------------------------------------------------- */
/*                   Change Link color to match logo                          */
/* -------------------------------------------------------------------------- */

a {
  color: #5793A3;
  text-decoration: none;
}

a:hover {
  color: #CDD269;
}

/* -------------------------------------------------------------------------- */
/*                            White space                                     */
/* -------------------------------------------------------------------------- */

.title {
  margin-top: 2em !important;
}
.subtitle {
  margin-top: -0.25em !important; 
  margin-bottom: 1em !important;
}

.section h1,
.section h2{ 
  padding-top: 1em !important; 
  margin-bottom: 0.75em;
}

.section h3, 
.section h4, 
.section h5 {
  padding-top: 0.5em !important;
  margin-bottom: 0.75em;
}

/*----------------------------------------------------------------------------*/
/*                                TOC                                         */
/*----------------------------------------------------------------------------*/

/* Logo above TOC */

#TOC::before {
  content: "";
  display: block;
  height: 200px;
  margin: 2em 20px 40px 20px;
  background-image: url("../images/cyclistic_logo.png");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  border: none;
}

#TOC {
  top: 0;
  width: 100% !important;
  border: none;
}

/* -------------------------------------------------------------------------- */
/*                            Hero image                                      */
/* -------------------------------------------------------------------------- */

.hero-image {
    position: relative;
    margin-bottom: 2em;
    /* liner gradient tints the image darker for readability*/
    background-image: linear-gradient( rgba(0,0,0,.2), rgba(0,0,0,.2) ), url(../images/chicago_bikeshare.png); 
    height: 100vh;
    background-size: cover;
    background-color: #5793A3;
    background-position: 50% 65%;
    display: flex; /* Change to `display: none` for no hero image */
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.top-text {
  position: relative;
  font-size: 34px;
  padding-bottom: 0.5em;
  text-transform: uppercase;
  text-align: center;
  display: block; /* Change to `display: none` for no top text */
  color: #ffffff72;
}

.bottom-text {
  position: relative;
  letter-spacing: 0.065em;
  line-height: 1em;
  font-size: 68px;
  text-transform: uppercase;
  text-align: center;
  display: block; /* Change to `display: none` for no bottom text */
  color: #ffffff;
  margin-bottom: 2.5rem;
  font-weight: bold;
}
